.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("/assets/icons/maquina.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.datos-card {
  max-width: 400px;
  display: inline-block;
  margin: 0.5%;
  border: 1.5px solid 	#48D1CC;
}

.positive {
    background-color: green;
}

.negative {
    background-color: red;
}

.numero_par{
  background-color: aliceblue;
  color: blue;
}
