<table mat-table [dataSource]="datosbd"  class="mat-elevation-z8">

  <!-- Numero de Maquina-->
  <ng-container matColumnDef="nameharvester">
    <th mat-header-cell *matHeaderCellDef> # Maquina </th>
    <td mat-cell *matCellDef="let datosbd"> {{datosbd.nameharvester}} </td>
  </ng-container>

  <!-- Cantidad de Datos-->
  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef> Cantidad Datos </th>
    <td mat-cell *matCellDef> {{cantidad}} </td>
  </ng-container>

  <!-- Promedi TCH-
  <ng-container matColumnDef="promedioTCH">
    <th mat-header-cell *matHeaderCellDef> Promedio TCH </th>
    <td mat-cell *matCellDef="let datos"> {{datos.tch}} </td>
  </ng-container>

  <!-- Tiempo de Trabajo--
  <ng-container matColumnDef="tiempoTrabajo">
    <th mat-header-cell *matHeaderCellDef> Tiempo Trabajo </th>
    <td mat-cell *matCellDef="let datos"> {{datos.hora}} </td>
  </ng-container>
 <!-- Promedio Velocidad --
  <ng-container matColumnDef="promedioVelocidad">
    <th mat-header-cell *matHeaderCellDef> Promedio Velocidad </th>
    <td mat-cell *matCellDef="let datos"> {{datos.velocidad}} </td>
  </ng-container>
<!-- Numero de Descargas--
  <ng-container matColumnDef="noDescargas">
    <th mat-header-cell *matHeaderCellDef> # Descargas*Dias </th>
    <td mat-cell *matCellDef="let datos"> {{datos.noDescargas}} </td>
  </ng-container>-->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
